.card{
    box-shadow:5px 5px 20px lightblue;
    border-radius:12px;
    color:white;
    font-family:monospace;
    transition: 1s;
}
.card:hover{
    transform: scale(1.2);
}

@media only screen and (max-width: 600px){
    body{
        background:lightblue;
    }
    .card:hover{
        transform: scale(1);
    }
}
@media only screen and (min-width: 1200px){
    body{
        background:lightgoldenrodyellow;
    }
}


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
    .example {background: red;}
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    .example {background: green;}
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    .example {background: blue;}
}  */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
    .example {background: orange;}
}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
    .example {background: pink;}
} */